.list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  background-color: inherit;
}

.new-link {
  display: flex;
  justify-content: center;
  padding: 1em;
}

.add-new {
  padding: 0.2em;
  color: whitesmoke;
  border-bottom: 1px solid rgb(20, 20, 20);
}
