.list-item {
  width: 95%;
  padding: 10px;

  margin: 0.5em 0;
}

.top-row {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin-bottom: 1em;
}

.complete {
  border: 1px solid blue;
  color: grey;
  box-shadow: 1px 1px 5px blue;
  background-color: rgb(0, 10, 20);
}

.incomplete {
  border: 1px solid green;
  color: lightgrey;
  box-shadow: 1px 1px 5px green;
  background-color: rgb(0, 20, 10);
}

.complete:hover {
  box-shadow: 3px 3px 5px blue;
  transform: translateX(-2px) translateY(-2px);
}

.incomplete:hover {
  box-shadow: 3px 3px 5px green;
  transform: translateX(-2px) translateY(-2px);
}

a {
  text-decoration: none;
  color: inherit;
}

.buttons {
  display: flex;
}

.buttons > * {
  color: white;
  min-width: 3em;
  background-color: grey;
  border: 1px solid white;
  padding: 5px;
  cursor: pointer;
}

.buttons > *:hover {
  color: purple;
}

.buttons > *:active {
  transform: translateY(2px);
}
