.list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  background-color: rgb(10, 30, 30);
}

.new-link {
  display: flex;
  justify-content: center;
  padding: 1em;
}
